---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import ArrowLink from "../components/ArrowLink.astro";
---

<Layout subtitle="¿Estás perdido?">
  <Section currentColor="bg-section">
    <div class="flex min-h-[50vh] flex-col items-center justify-center gap-6">
      <h1 class="text-center text-3xl font-extrabold">¿Estás perdido?</h1>
      <ArrowLink content="Volver" link="/" />
    </div>
  </Section>
</Layout>
