---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import DateTime from "../components/DateTime.astro";
import ArrowLink from "../components/ArrowLink.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout subtitle="Blogs">
  <Section>
    <div class="flex justify-center">
      <h1 class="text-black">Blogs</h1>
    </div>
    <ul
      class="mx-auto grid max-w-sm grid-cols-1 gap-12 py-4 md:max-w-2xl md:grid-cols-2 md:gap-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {
        posts.map((post) => (
          <li class="flex flex-col items-start space-y-4 text-left text-black">
            <h2 class="mb-2 text-xl font-semibold">{post.data.title}</h2>
            <DateTime date={post.data.pubDate} className="text-gray-500" />
            <p class="text-md font-medium text-balance text-black">
              {post.data.description}
            </p>
            <ArrowLink content="Leer más" link={`/blog/${post.data.slug}`} />
          </li>
        ))
      }
    </ul>
  </Section>

  <Section previous="bg-white" currentColor="bg-section" />
</Layout>
