---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import FormInput from "../components/FormInput.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.send);
---

<Layout subtitle="Contacto">
  <Section>
    <div class="flex flex-col items-center justify-center space-y-4 py-4">
      <h1>Contacto</h1>

      {
        result?.data && (
          <div class="border-accent bg-accent/10 text-md text-accent w-full max-w-sm rounded-lg border p-2">
            <p class="font-bold">¡Mensaje enviado correctamente!</p>
            <p>Te contactaremos pronto.</p>
          </div>
        )
      }

      {
        result?.error && (
          <div class="text-md w-full max-w-sm rounded-lg border border-red-600 bg-red-100 p-2 text-red-600">
            <p class="font-semibold">Error al enviar el mensaje</p>
            <p>{result.error.message}</p>
          </div>
        )
      }

      <div class="flex max-w-sm flex-col rounded-md">
        <form action={actions.send} method="POST" class="space-y-2">
          <FormInput
            label="Nombre"
            id="name"
            name="name"
            type="text"
            placeholder="Carmen Gloria"
            required="true"
          />
          <FormInput
            label="Veterinaria"
            id="veterinary"
            name="veterinary"
            type="text"
            placeholder="Veterinaria Firulais"
          />
          <FormInput
            label="Correo electrónico"
            id="email"
            name="email"
            type="email"
            placeholder="usuario@ejemplo.com"
            required="true"
          />
          <div>
            <input
              class="cursor-pointer"
              id="checkbox"
              name="motive-checkbox"
              type="checkbox"
            />
            <label class="text-sm font-medium text-gray-600"
              >Estoy interesad@ en la venta del kit</label
            >
          </div>
          <FormInput
            label="Otro motivo"
            id="motive"
            name="motive"
            type="text"
            placeholder="Indica tu motivo"
          />
          <div class="pt-3">
            <button
              type="submit"
              class="bg-accent-secondary hover:bg-accent-secondary/90 w-full cursor-pointer rounded-md p-2 text-sm font-medium text-white"
            >
              Crear
            </button>
          </div>
        </form>
      </div>
    </div>
  </Section>
  <Section previous="bg-white" currentColor="bg-section" />
</Layout>
