---
import IconArrowUpRight from "../assets/icons/IconArrowUpRight.svg";

const { content, link } = Astro.props;
---

<a class="group flex w-fit gap-1 hover:underline" href={link}>
  {content}
  <IconArrowUpRight
    class="duration-200 group-hover:translate-x-1 group-hover:-translate-y-1"
  />
</a>
