---
import { SITE } from '../config'; 
---

<a
  href=`https://wa.me/${SITE.contact_phone}?text=Hola,quiero+participar+con+el+uso+del+kit`
  class="flex h-10 w-36 items-center justify-center rounded bg-accent px-4 font-bold text-white hover:bg-accent/90"
>
  Contactanos
</a>
