---

---

<a href="/">
  <div class="flex flex-col">
    <span class="pl-7 text-2xl font-bold text-accent whitespace-nowrap">
      PreVet Genomics
    </span>
    <span class="-mt-2 text-sm font-bold text-accent-secondary whitespace-nowrap">
      Personalized pet medicine
    </span>
  </div>
</a>

