---
const { content, icon: Icon, link } = Astro.props;
---

<a
  class="group hover:text-accent flex w-fit gap-1 font-medium"
  href={link}
  target="_blank"
  rel="noopener noreferrer"
>
  <Icon class="group-hover:rotate-12" />
  {content}
</a>
